* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    background-color: #086788;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    color: aliceblue;
    padding-bottom: 20px;
}

main img {
    width: 15rem;
    height: 10rem;
    margin-top: 1rem ;
    margin-bottom: 2rem;
}

section {
    background-color: #07A0C3;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h3 {
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 30px;
    font-size: 1.8rem;
}

section h4 {
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    outline: unset;
    padding: 12px;
    border: 1px solid #07A0C3;
    border-radius: 7px;
}

select {
    outline: unset;
    padding: 12px;
    border: 1px solid #07A0C3;
    border-radius: 7px;
}

button {
    padding: 12px 30px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3f3f3f;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
    font-weight: 600;
}

button::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(
        90deg, transparent,
        #ffffff75, transparent
    );
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)
    skew(-10deg);
}

.row {
    display: flex;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
}

.image img{
    width: 10rem;
    height: 2rem;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

/*----------------------RESPONSIVIDADE----------------*/

/*------------SMARTPHONE-------------*/
/*SMARTPHONE-S*/
@media (min-width: 300px) and (max-width: 399px) {
    section {
        width: 14rem;
    }

    .row {
        flex-direction: column;
    }


    input {
        width: 11rem;
    }

    select {
        width: 12rem;
    }

    section h3 {
        font-size: 1.1rem;
    }

    main .image-logo img {
        width: 9rem;
        height: 6rem;
    }
}

/*SMARTPHONE-M*/
@media (min-width: 400px) and (max-width: 499px) {
    section {
        width: 18rem;
    }

    .row {
        flex-direction: column;
    }


    input {
        width: 13rem;
    }

    select {
        width: 14rem;
    }
    
    section h3 {
        font-size: 1.4rem;
    }

    main .image-logo img {
        width: 9rem;
        height: 6rem;
    }
}

/*SMARTPHONE-L*/
@media (min-width: 500px) and (max-width: 599px) {
    section {
        width: 20rem;
    }

    .row {
        flex-direction: column;
    }

    select {
        width: 14rem;
    }
    
    main .image-logo img {
        width: 10rem;
        height: 7rem;
    }
}

/*------------TABLET-------------*/
/*TABLET-S*/
@media (min-width: 600px) and (max-width: 699px) {
    section {
        width: 30rem;
    }

    .row {
        flex-direction: column;
    }

    select {
        width: 17rem;
    }

    main .image-logo img {
        width: 11rem;
        height: 8rem;
    }
}

/*TABLET-M*/
@media (min-width: 700px) and (max-width: 799px) {
    section {
        width: 30rem;
    }

    .row {
        flex-direction: column;
    }

    select {
        width: 18rem;
    }

    main .image-logo img {
        width: 12rem;
        height: 9rem;
    }

}

/*TABLET-L*/
@media (min-width: 800px) and (max-width: 1023px) {
    section {
        width: 35rem;
    }

    input {
        width: 13rem;
    }

    select {
        width: 22rem;
    }
}

/*------------DESKTOP-------------*/
/*DESKTOP-S*/
@media (min-width: 1024px) and (max-width: 1439px) {
    section {
        width: 40rem;
    }

    input {
        width: 13rem;
    }
}

/*DESKTOP-M*/
@media (min-width: 1440px) and (max-width: 1799px) {
    section {
        width: 40rem;
    }

    input {
        width: 13rem;
    }
}

/*DESKTOP-L*/
@media (min-width: 1800px) {
    section {
        width: 40rem;
    }

    input {
        width: 13rem;
    }
}

