* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    background-color: #086788;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    color: aliceblue;
    padding-bottom: 20px;
}

section {
    background-color: #07A0C3;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h3 {
    color: aliceblue;
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    outline: unset;
    padding: 12px;
    border: 1px solid #07A0C3;
    border-radius: 7px;

}

button {
    padding: 12px 30px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3f3f3f;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
    font-weight: 600;
}

button::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(
        90deg, transparent,
        #ffffff75, transparent
    );
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)
    skew(-10deg);
}

.row {
    display: flex;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
}

/*SMARTPHONE-S*/
@media (max-width: 250px) {
    section {
        width: 15rem;
    }

    .row {
        flex-direction: column;
    }
}

/*SMARTPHONE-M*/
@media (min-width: 251px) and (max-width: 424px) {
    section {
        width: 20rem;
    }

    .row {
        flex-direction: column;
    }
}

/*SMARTPHONE-L*/
@media (min-width: 425px) and (max-width: 499px) {
    section {
        width: 24rem;
    }

    .row {
        flex-direction: column;
    }
}

/*-------------------------*/
/*TABLET-S*/
@media (min-width: 500px) {
    section {
        width: 28rem;
    }
}

/*TABLET-M*/
@media (min-width: 600px) {
    section {
        width: 35rem;
    }
}

/*TABLET-L*/
@media (min-width: 800px) {
    section {
        width: 45rem;
    }
}

/*-------------------------*/
/*DESKTOP-S*/
@media (min-width: 1024px) {
    section {
        width: 50rem;
    }
}

/*DESKTOP-M*/
@media (min-width: 1440px) {
    section {
        width: 55rem;
    }
}

/*DESKTOP-L*/
@media (min-width: 1800px) {
    section {
        width: 60rem;
    }
}

